<?xml version="1.0"?>
<!--
/* Product REST API
 *
 * @category  GoDataFeed
 * @package   GoDataFeed_Restapi
 */
-->
<config>
    <modules>
        <GoDataFeed_Restapi>
            <version>0.1.0</version>
        </GoDataFeed_Restapi>
    </modules>
    <global>
        <models>
            <restapi>
                <class>GoDataFeed_Restapi_Model</class>
            </restapi>
            <api2>
                <rewrite>
                    <request>GoDataFeed_Restapi_Model_Api2_Request</request>
                </rewrite>
            </api2>
        </models>
    </global>
</config>
