<?xml version="1.0"?>
<config>
    <modules>
        <WIC_All>
            <version>1.1.0</version>
        </WIC_All>
    </modules>
    <global>    
        <blocks>
            <wicall>
                <class>WIC_All_Block</class>
            </wicall>
            <page>
                <rewrite>
                    <html_head>WIC_All_Block_Html_Head</html_head>
                </rewrite>
            </page>
        </blocks>
        <helpers>
            <wicall>		
                <class>WIC_All_Helper</class>
            </wicall>				
        </helpers>
        <models>
            <wicall>
                <class>WIC_All_Model</class>
            </wicall>
        </models>
        <resources>
            <wicall_setup>
                <setup>
                    <module>WIC_All</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </wicall_setup>
            <wicall_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </wicall_write>
            <wicall_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </wicall_read>
        </resources>				
    </global>
    <adminhtml>
        <layout>
            <updates>
                <wicall module="WIC_All">
                    <file>wic/all.xml</file>
                </wicall>
            </updates>
        </layout>
        <translate>
            <modules>
                <wicall>
                    <files>
                        <default>WIC_All.csv</default>
                    </files>
                </wicall>
            </modules>
        </translate>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <wicall>
                                            <title>Web In Color - All</title>
                                        </wicall>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>        
    </adminhtml>
</config>