<?xml version="1.0"?>
<config>    
    <modules>
        <Buysafe_Siteseals>
            <version>1.0.3</version>
        </Buysafe_Siteseals>
    </modules>
	<global>
    	<models>
            <buysafe>
                <class>Buysafe_Siteseals_Model</class>
            </buysafe>  
        </models>
	    <helpers>
    	    <buysafe>
        	    <class>Buysafe_Siteseals_Helper</class>
        	</buysafe>
    	</helpers>
    	<blocks>
    		<buysafe>
    			<class>Buysafe_Siteseals_Block</class>
    		</buysafe>
    	</blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <buysafe>
                    <file>buysafe.xml</file>
                </buysafe>
            </updates>
        </layout>
        <routers>
            <buysafe>
                <use>standard</use>
                <args>
                    <module>Buysafe_Siteseals</module>
                    <frontName>buysafe</frontName>
                </args>
            </buysafe>
        </routers>
    </frontend>
</config>   