.modgit/
app/etc/local.xml
app/etc/config.xml
app/etc/user_cache.ser
media/downloadable/
media/import/
media/xmlconnect/
media/catalog/product/cache/
/media/*
/var/*
!/var/.htaccess
!/media/.htaccess
skin/frontend/default/clairsoft/.sass-cache/

config.codekit
