.view-deal-btn{
	background: #eee;
}

.view-deal-btn:hover{
	background: #1b75bb;
}

a.soldout-btn{
	color: red !important;
	border: 1px solid red !important;
}

a.soldout-btn:hover{
	color: red!important;
}

.btn-proceed-checkout, .apply-coupon {
	background: #1b75bb !important;
}
 
button{
	background: #1b75bb !important;
}