ul.config-tabs .wic-fastmag {border-bottom: 1px dotted grey;}
ul.config-tabs .wic-fastmag span { background: url('../images/fastmag.png') 20px 55% no-repeat !important;height:0;overflow:hidden;padding:30px 0 0;}
ul.config-tabs .wic-fastmag.active span {background: white url('../images/fastmag.png') 20px 55% no-repeat !important;}