<?xml version="1.0"?>
<config>
    <modules>
        <Fiuze_AddressValidation>
            <version>0.2.0</version>
        </Fiuze_AddressValidation>
    </modules>
    <global>
        <models>
            <fiuze_addressvalidation>
                <class>Fiuze_AddressValidation_Model</class>
                <resourceModel>fiuze_addressvalidation_resource</resourceModel>
            </fiuze_addressvalidation>
            <fiuze_addressvalidation_resource>
                <class>Fiuze_AddressValidation_Model_Resource</class>
                <entities>
                    <fiuze_addresses>
                        <table>fiuze_addresses</table>
                    </fiuze_addresses>
                </entities>
            </fiuze_addressvalidation_resource>
        </models>
        <helpers>
            <fiuze_addressvalidation>
                <class>Fiuze_AddressValidation_Helper</class>
            </fiuze_addressvalidation>
        </helpers>
        <resources>
            <fiuze_addressvalidation_setup>
                <setup>
                    <module>Fiuze_AddressValidation</module>
                </setup>
            </fiuze_addressvalidation_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <index>
                <use>standard</use>
                <args>
                    <frontName>fiuze_addressvalidation</frontName>
                    <module>Fiuze_AddressValidation</module>
                </args>
            </index>
        </routers>
    </frontend>
    <default>
        <fiuze_address_validation>
            <license_group>
                <wsdl_input>http://ws.serviceobjects.com/av3/api.svc?WSDL</wsdl_input>
                <license_input>WS72-BEY2-KAH4</license_input>
                <name_input>Dailysale</name_input>
            </license_group>
        </fiuze_address_validation>
    </default>
</config>