<?xml version="1.0"?>
<config>
<modules>
    <fuize_track>
        <version>0.3.6</version>
    </fuize_track>
</modules>
<global>
    <models>
        <track>
            <rewrite>
                <observer>Fuize_Track_Model_Observer</observer>
            </rewrite>
        </track>
    </models>
</global>
</config>