<?xml version="1.0"?>
<!--
/**
 * Module configuration
 *
 * @author Fiuze Team
 * @category Fiuze
 * @package Fiuze_Track
 * @copyright Copyright (c) 2016 Fiuze
 */
-->
<config>
    <modules>
        <Fiuze_Track>
            <version>0.3.4</version>
        </Fiuze_Track>
    </modules>
    <global>
        <models>
            <aftershiptrackcron>
                <rewrite>
                    <observer>Fiuze_Track_Model_Observer</observer>
                </rewrite>
            </aftershiptrackcron>
        </models>
        <events>
            <sales_order_shipment_track_save_after>
                <observers>
                    <fishpig_save_product_data>
                        <type>singleton</type>
                        <class>aftershiptrackcron/observer</class>
                        <method>salesOrderShipmentTrackSaveAfter</method>
                    </fishpig_save_product_data>
                </observers>
            </sales_order_shipment_track_save_after>
        </events>
    </global>
    <adminhtml>
        <events>
            <sales_order_shipment_track_save_after>
                <observers>
                    <fishpig_save_product_data>
                        <type>singleton</type>
                        <class>track/observer</class>
                        <method>salesOrderShipmentTrackSaveAfter</method>
                    </fishpig_save_product_data>
                </observers>
            </sales_order_shipment_track_save_after>
        </events>
    </adminhtml>
</config>