<?xml version="1.0"?>
<config>
	<modules>
		<Aftership_Track>
			<version>0.3.8</version>
		</Aftership_Track>
	</modules>

	<global>
        <blocks>
            <aftership_track>
                <class>Aftership_Track_Block</class>
            </aftership_track>
        </blocks>
		<models>
			<aftershiptrackcron>
				<class>Aftership_Track_Model</class>
			</aftershiptrackcron>
			<track>
				<class>Aftership_Track_Model</class>
				<resourceModel>track_mysql4</resourceModel>
			</track>
			<track_mysql4>
				<class>Aftership_Track_Model_Mysql4</class>
				<entities>
					<track>
						<table>as_track</table>
					</track>
                    <schedule>
                        <table>schedule_aftership</table>
                    </schedule>
					<!--<user>
						<table>as_user</table>
					</user>-->
				</entities>
			</track_mysql4>
			<status>
				<class>Aftership_Track_Model</class>
			</status>
			<cron_job>
				<class>Aftership_Track_Model</class>
			</cron_job>
			<notification>
				<class>Aftership_Track_Model</class>
			</notification>
		</models>
		<resources>
			<track_write>
				<connection>
					<use>core_write</use>
				</connection>
			</track_write>
			<track_read>
				<connection>
					<use>core_read</use>
				</connection>
			</track_read>
			<track_setup>
				<setup>
					<module>Aftership_Track</module>
					<class>Aftership_Track_Model_Resource_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</track_setup>
		</resources>
		<helpers>
			<aftership>
				<class>Aftership_Track_Helper</class>
			</aftership>
		</helpers>
	</global>

    <crontab>
        <jobs>
            <aftershiptrackcron>
                <schedule>
                    <cron_expr>0 */3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>aftershiptrackcron/observer::cron</model>
                </run>
            </aftershiptrackcron>
            <one_cron>
                <schedule>
                    <config_path>aftership_options/messages/one_cron_config</config_path>
                </schedule>
                <run>
                    <model>aftershiptrackcron/observer::runCronJob</model>
                </run>
            </one_cron>
            <two_cron>
                <schedule>
                    <config_path>aftership_options/messages/two_cron_config</config_path>
                </schedule>
                <run>
                    <model>aftershiptrackcron/observer::runCronJob</model>
                </run>
            </two_cron>
            <three_cron>
                <schedule>
                    <config_path>aftership_options/messages/three_cron_config</config_path>
                </schedule>
                <run>
                    <model>aftershiptrackcron/observer::runCronJob</model>
                </run>
            </three_cron>
        </jobs>
		<events>
			<default>
				<observers>
					<cron_observer_helper>
						<class>aftershiptrackcron/cronObserver</class>
						<method>runCronAftership</method>
					</cron_observer_helper>
				</observers>
			</default>
		</events>
    </crontab>

	<frontend>
		<routers>
			<track>
				<use>standard</use>
				<args>
					<module>Aftership_Track</module>
					<frontName>track</frontName>
				</args>
			</track>
		</routers>
	</frontend>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <track before="Mage_Adminhtml">Aftership_Track_Adminhtml</track>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

	<adminhtml>
		<layout>
			<updates>
				<aftershipconfig module="Aftership_Track">
					<file>aftership.xml</file>
				</aftershipconfig>
			</updates>
		</layout>

		<events>
            <core_layout_block_create_after>
                <observers>
                    <fiuze_block_create>
                        <type>singleton</type>
                        <class>track/observer</class>
                        <method>coreLayoutBlockCreateAfter</method>
                    </fiuze_block_create>
                </observers>
            </core_layout_block_create_after>
			<sales_order_shipment_track_save_after>
				<observers>
					<fishpig_save_product_data>
						<type>singleton</type>
						<class>track/observer</class>
						<method>salesOrderShipmentTrackSaveAfter</method>
					</fishpig_save_product_data>
				</observers>
			</sales_order_shipment_track_save_after>
			<admin_system_config_changed_section_aftership_options>
				<observers>
					<index>
						<class>track/observer</class>
						<method>adminSystemConfigChangedSectionAftership</method>
					</index>
				</observers>
			</admin_system_config_changed_section_aftership_options>
		</events>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<aftership_options>
											<title>Aftership tracking config</title>
										</aftership_options>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>

    <default>
        <aftership_options>
            <messages>
                <cron_schedule>6,24,48</cron_schedule>
            </messages>
        </aftership_options>
    </default>
</config>