<?xml version="1.0"?>
<config>
    <modules>
        <Fiuze_All>
            <version>0.1.0</version>
        </Fiuze_All>
    </modules>
    <global>
        <models>
            <fiuze_all>
                <class>Fiuze_All_Model</class>
            </fiuze_all>
        </models>
        <helpers>
            <fiuze_all>
                <class>Fiuze_All_Helper</class>
            </fiuze_all>
        </helpers>
        <blocks>
            <fiuze_all>
                <class>Fiuze_All_Block</class>
            </fiuze_all>
        </blocks>
        <events>
            <sales_order_creditmemo_save_after>
                <observers>
                    <fiuze_all_order_creditmemo_refund>
                        <class>Fiuze_All_Model_Observer</class>
                        <method>returnProductToStock</method>
                    </fiuze_all_order_creditmemo_refund>
                </observers>
            </sales_order_creditmemo_save_after>
        </events>
    </global>

    <frontend>
        <routers>
            <fiuze_all>
                <use>standard</use>
                <args>
                    <module>Fiuze_All</module>
                    <frontName>fiuze_all</frontName>
                </args>
            </fiuze_all>
        </routers>
    </frontend>
</config> 