<?xml version="1.0"?>
<config>
    <modules>
        <Fiuze_All>
            <version>0.1.2</version>
        </Fiuze_All>
    </modules>
    <global>
        <models>
            <fiuze_all>
                <class>Fiuze_All_Model</class>
            </fiuze_all>
        </models>
        <resources>
            <fiuze_all_setup>
                <setup>
                    <module>Fiuze_All</module>
                </setup>
            </fiuze_all_setup>
        </resources>
        <helpers>
            <fiuze_all>
                <class>Fiuze_All_Helper</class>
            </fiuze_all>
        </helpers>
        <blocks>
            <fiuze_all>
                <class>Fiuze_All_Block</class>
            </fiuze_all>
        </blocks>
        <events>
            <sales_order_creditmemo_save_after>
                <observers>
                    <fiuze_all_order_creditmemo_refund>
                        <class>Fiuze_All_Model_Observer</class>
                        <method>returnProductToStock</method>
                    </fiuze_all_order_creditmemo_refund>
                </observers>
            </sales_order_creditmemo_save_after>
            <controller_action_predispatch_signin_json_login>
                <observers>
                    <captcha_controller_action_predispatch_signin_json_login>
                        <class>Fiuze_All_Model_Observer</class>
                        <method>checkUserLogin</method>
                    </captcha_controller_action_predispatch_signin_json_login>
                </observers>
            </controller_action_predispatch_signin_json_login>
            <controller_action_predispatch_signin_json_register>
                <observers>
                    <captcha_controller_action_predispatch_signin_json_register>
                        <class>Fiuze_All_Model_Observer</class>
                        <method>userRegister</method>
                    </captcha_controller_action_predispatch_signin_json_register>
                </observers>
            </controller_action_predispatch_signin_json_register>
            <controller_action_predispatch_signin_json_forgotpassword>
                <observers>
                    <captcha_controller_action_predispatch_signin_json_forgotpassword>
                        <class>Fiuze_All_Model_Observer</class>
                        <method>forgotPassword</method>
                    </captcha_controller_action_predispatch_signin_json_forgotpassword>
                </observers>
            </controller_action_predispatch_signin_json_forgotpassword>
        </events>
    </global>

    <frontend>
        <routers>
            <fiuze_all>
                <use>standard</use>
                <args>
                    <module>Fiuze_All</module>
                    <frontName>fiuze_all</frontName>
                </args>
            </fiuze_all>
            <captcha>
                <use>standard</use>
                <args>
                    <module>Mage_Captcha</module>
                    <frontName>captcha</frontName>
                </args>
            </captcha>
        </routers>
        <layout>
            <updates>
                <captcha>
                    <file>captcha.xml</file>
                </captcha>
                <fiuze_all>
                    <file>fiuze/captcha.xml</file>
                </fiuze_all>
            </updates>
        </layout>
    </frontend>

    <default>
        <customer>
            <captcha>
                <type>zend</type>
                <enable>0</enable>
                <font>linlibertine</font>
                <mode>after_fail</mode>
                <forms>user_forgotpassword</forms>
                <failed_attempts_login>3</failed_attempts_login>
                <failed_attempts_ip>1000</failed_attempts_ip>
                <timeout>7</timeout>
                <length>4-5</length>
                <symbols>ABCDEFGHJKMnpqrstuvwxyz23456789</symbols>
                <case_sensitive>0</case_sensitive>
                <always_for>
                    <user_create>1</user_create>
                    <user_forgotpassword>1</user_forgotpassword>
                    <guest_checkout>1</guest_checkout>
                    <register_during_checkout>1</register_during_checkout>
                    <user_login>1</user_login>
                </always_for>
            </captcha>
        </customer>
        <captcha  translate="label">
            <fonts>
                <linlibertine>
                    <label>LinLibertine</label>
                    <path>lib/LinLibertineFont/LinLibertine_Bd-2.8.1.ttf</path>
                </linlibertine>
            </fonts>
            <frontend>
                <areas>
                    <user_create>
                        <label>Create user</label>
                    </user_create>
                    <user_login>
                        <label>Login</label>
                    </user_login>
                    <user_forgotpassword>
                        <label>Forgot password</label>
                    </user_forgotpassword>
                    <guest_checkout>
                        <label>Checkout as Guest</label>
                    </guest_checkout>
                    <register_during_checkout>
                        <label>Register during Checkout</label>
                    </register_during_checkout>
                </areas>
            </frontend>
            <backend>
                <areas>
                    <backend_login>
                        <label>Admin Login</label>
                    </backend_login>
                    <backend_forgotpassword>
                        <label>Admin Forgot Password</label>
                    </backend_forgotpassword>
                </areas>
            </backend>
        </captcha>
    </default>
</config> 