<?xml version="1.0"?>
<!--
/**
 * Module configuration
 *
 * @author Magento
 */
-->
<config>
    <modules>
        <Fiuze_ImportProducts>
            <version>1.0.0.0.1</version>
            <depends>
                <Mage_Api />
            </depends>
            
        </Fiuze_ImportProducts>
    </modules>
    <global>
        <helpers>
            <fiuze_importproducts>
                <class>Fiuze_ImportProducts_Helper</class>
            </fiuze_importproducts>
        </helpers>
        <blocks>
            <fiuze_importproducts>
                <class>Fiuze_ImportProducts_Block</class>
            </fiuze_importproducts>
        </blocks>
        <models>
            <catalog>
                <rewrite>
                    <product_link_api_v2>Fiuze_Importproducts_Model_Product_Link_Api_V2</product_link_api_v2>
                </rewrite>
            </catalog>
        </models>
        </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Fiuze_ImportProducts before="Mage_Adminhtml">Fiuze_ImportProducts_Adminhtml</Fiuze_ImportProducts>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <fiuze_importproducts>
                    <file>fiuze_importproducts.xml</file>
                </fiuze_importproducts>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <importproducts>
            <view>
                <soapclient>http://magentohost/api/v2_soap/?wsdl</soapclient>
                <apiuser>username</apiuser>
                <apikey>password</apikey>
            </view>
        </importproducts>
    </default>

</config>