<?xml version="1.0"?>
<config>
    <modules>
        <Fiuze_Hideshipments>
            <version>0.1.0</version>
        </Fiuze_Hideshipments>
    </modules>
    <global>
        <models>
            <fiuze_hideshipments>
                <class>Fiuze_Hideshipments_Model</class>
                <resourceModel>fiuze_hideshipments_resource</resourceModel>
            </fiuze_hideshipments>
            <fiuze_hideshipments_resource>
                <class>Fiuze_Hideshipments_Model_Resource</class>
            </fiuze_hideshipments_resource>
        </models>
        <blocks>
            <fiuze_hideshipments>
                <class>Fiuze_Hideshipments_Block</class>
            </fiuze_hideshipments>
        </blocks>
        <helpers>
            <fiuze_hideshipments>
                <class>Fiuze_Hideshipments_Helper</class>
            </fiuze_hideshipments>
        </helpers>
        <events>
            <sales_order_shipment_grid_collection_load_before>
                <observers>
                    <udropship>
                        <class>fiuze_hideshipments/observer</class>
                        <method>hideShipment</method>
                    </udropship>
                </observers>
            </sales_order_shipment_grid_collection_load_before>
        </events>
    </global>
</config>