<?xml version="1.0"?>
<config>
    <modules>
        <Fiuze_Setup>
            <version>1.0.0.0.1</version>
        </Fiuze_Setup>
    </modules>
    <global>
        <helpers>
            <fiuze_setup>
                <class>Fiuze_Setup_Helper</class>
            </fiuze_setup>
        </helpers>
        <blocks>
             <fiuze_setup>
                <class>Fiuze_Setup_Block</class>
             </fiuze_setup>
        </blocks>
        <models>
            <fiuze_setup>
                <class>Fiuze_Setup_Model</class>
            </fiuze_setup>
        </models>
		<resources>
			<fiuze_setup_setup>
				<setup>
					<module>Fiuze_Setup</module>
					<class>Mage_Core_Model_Resource_Setup</class>
				</setup>
			</fiuze_setup_setup>
		</resources>
    </global>
    <adminhtml>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <customgrid_core_block_abstract_prepare_layout_before>
                        <type>model</type>
                        <class>Fiuze_Setup_Model_Observer</class>
                        <method>appendCustomColumn</method>
                    </customgrid_core_block_abstract_prepare_layout_before>
                </observers>
            </core_block_abstract_prepare_layout_before>
            <sales_order_grid_collection_load_before>
                <observers>
                    <customgrid_sales_order_grid_collection_load_before>
                        <type>model</type>
                        <class>Fiuze_Setup_Model_Observer</class>
                        <method>salesOrderGridCollectionLoadBefore</method>
                    </customgrid_sales_order_grid_collection_load_before>
                </observers>
            </sales_order_grid_collection_load_before>
        </events>
    </adminhtml>
</config> 