<?xml version="1.0"?>
<config>
    <modules>
        <Fiuze_Aftershipcustomization>
            <version>0.1.0</version>
        </Fiuze_Aftershipcustomization>
    </modules>
    <global>
        <models>
            <fiuze_aftershipcustomization>
                <class>Fiuze_Aftershipcustomization_Model</class>
                <resourceModel>fiuze_aftershipcustomization_resource</resourceModel>
            </fiuze_aftershipcustomization>
            <fiuze_aftershipcustomization_resource>
                <class>Fiuze_Aftershipcustomization_Model_Resource</class>
            </fiuze_aftershipcustomization_resource>
        </models>
        <blocks>
            <fiuze_aftershipcustomization>
                <class>Fiuze_Aftershipcustomization_Block</class>
            </fiuze_aftershipcustomization>
        </blocks>
        <helpers>
            <fiuze_aftershipcustomization>
                <class>Fiuze_Aftershipcustomization_Helper</class>
            </fiuze_aftershipcustomization>
            <udbatch>
                <rewrite>
                    <data>Fiuze_Aftershipcustomization_Helper_DropshipBatch_Data</data>
                </rewrite>
            </udbatch>
        </helpers>
    </global>
    <frontend>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <fiuze_aftershipcustomization>
                        <class>fiuze_aftershipcustomization/observer</class>
                        <method>replaceBlock</method>
                    </fiuze_aftershipcustomization>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
    </frontend>
</config>