<?xml version="1.0"?>
<config>
    <modules>
        <Fiuze_Bestsellercron>
            <version>0.3.2</version>
        </Fiuze_Bestsellercron>
    </modules>
    <global>
        <blocks>
            <bestsellercron>
                <class>Fiuze_Bestsellercron_Block</class>
            </bestsellercron>
        </blocks>
        <helpers>
            <bestsellercron>
                <class>Fiuze_Bestsellercron_Helper</class>
            </bestsellercron>
        </helpers>
        <models>
            <bestsellercron>
                <class>Fiuze_Bestsellercron_Model</class>
                <resourceModel>bestsellercron_resource</resourceModel>
            </bestsellercron>
            <bestsellercron_resource>
                <class>Fiuze_Bestsellercron_Model_Resource</class>
                <entities>
                    <fiuze_tasks>
                        <table>fiuze_tasks</table>
                    </fiuze_tasks>
                    <fiuze_task_logs>
                        <table>fiuze_task_logs</table>
                    </fiuze_task_logs>
                </entities>
            </bestsellercron_resource>
        </models>
        <resources>
            <bestsellercron_setup>
                <setup>
                    <module>Fiuze_Bestsellercron</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </bestsellercron_setup>
        </resources>
        <events>
            <controller_front_init_before>
                <observers>
                    <bestsellers_controller_front_init_before>
                        <class>bestsellercron/observer</class>
                        <method>controllerFrontInitBefore</method>
                    </bestsellers_controller_front_init_before>
                </observers>
            </controller_front_init_before>
            <catalog_block_product_list_collection>
                <observers>
                    <bestsellers_catalog_product_collection_load_after>
                        <class>bestsellercron/observer</class>
                        <method>catalogProductCollectionLoadAfter</method>
                    </bestsellers_catalog_product_collection_load_after>
                </observers>
            </catalog_block_product_list_collection>
        </events>
    </global>
    <crontab>
        <jobs>
            <runcustomcron>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>bestsellercron/customcron::runCustomCron</model>
                </run>
            </runcustomcron>
        </jobs>
    </crontab>
    <frontend>
        <product>
            <collection>
                <attributes>
                    <bestsellercron_flag/>
                </attributes>
            </collection>
        </product>
        <routers>
            <bestsellercron>
                <use>standard</use>
                <args>
                    <module>Fiuze_Bestsellercron</module>
                    <frontName>bestsellercron</frontName>
                </args>
            </bestsellercron>
        </routers>
    </frontend>
    <adminhtml>
        <events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <bestsellers_core_block_abstract_prepare_layout_after>
                        <class>bestsellercron/observer</class>
                        <method>coreBlockAbstractPrepareLayoutAfter</method>
                    </bestsellers_core_block_abstract_prepare_layout_after>
                </observers>
            </core_block_abstract_prepare_layout_after>
        </events>
    </adminhtml>
</config>