<?xml version="1.0"?>
<config>
    <modules>
        <Fiuze_Bestsellercron>
            <version>0.1.0</version>
        </Fiuze_Bestsellercron>
    </modules>
    <global>
        <helpers>
            <bestsellercron>
                <class>Fiuze_Bestsellercron_Helper</class>
            </bestsellercron>
        </helpers>
        <models>
            <bestsellercron>
                <class>Fiuze_Bestsellercron_Model</class>
            </bestsellercron>
        </models>
        <resources>
            <bestsellercron_setup>
                <setup>
                    <module>Fiuze_Bestsellercron</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </bestsellercron_setup>
        </resources>
    </global>
    <frontend>
        <product>
            <collection>
                <attributes>
                    <bestsellercron_flag/>
                </attributes>
            </collection>
        </product>
        <routers>
            <bestsellercron>
                <use>standard</use>
                <args>
                    <module>Fiuze_Bestsellercron</module>
                    <frontName>bestsellercron</frontName>
                </args>
            </bestsellercron>
        </routers>
    </frontend>
    <crontab>
        <jobs>
            <bestsellercron>
                <schedule>
                    <config_path>bestsellers_settings_sec/bestsellers_settings_grp/scheduler</config_path>
                </schedule>
                <run>
                    <model>bestsellercron/cron::bestSellers</model>
                </run>
            </bestsellercron>
        </jobs>
    </crontab>
    <default>
        <bestsellers_settings_sec>
            <bestsellers_settings_grp>
                <products>10</products>
                <time>00,00,00</time>
                <days>1</days>
                <category>1</category>
                <criteria>revenue</criteria>
                <scheduler>1 1 * * *</scheduler>
            </bestsellers_settings_grp>
        </bestsellers_settings_sec>
    </default>
</config>