<?xml version="1.0"?>
<config>
    <sections>
        <bestsellers_settings_sec translate="label" module="bestsellercron">
            <label>Fiuze Bestsellers Cron</label>
            <tab>catalog</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <bestsellers_settings_grp translate="label">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <general translate="comment">
                            <label></label>
                            <frontend_model>bestsellercron/adminhtml_system_config_form_field_bestseller</frontend_model>
                            <backend_model>bestsellercron/system_config_backend_general</backend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Displays in the same order as in the configuration. Sorting inside of category is performing in order of chosen criteria.</comment>
                        </general>
                        <legend translate="label">
                            <frontend_type>text</frontend_type>
                            <frontend_model>bestsellercron/adminhtml_system_config_form_field_legend</frontend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </legend>
                    </fields>
                </bestsellers_settings_grp>
            </groups>
        </bestsellers_settings_sec>
    </sections>
</config>
