<?xml version="1.0"?>
<config>
    <modules>
        <WIC_Criteotags>
            <version>1.4.3</version>
        </WIC_Criteotags>
    </modules>
    <global>    
        <blocks>
            <criteotags>
                <class>WIC_Criteotags_Block</class>
            </criteotags>
        </blocks>
        <helpers>
            <criteotags>		
                <class>WIC_Criteotags_Helper</class>
            </criteotags>				
        </helpers>
        <models>
            <criteotags>
                <class>WIC_Criteotags_Model</class>
            </criteotags>
        </models>				
    </global>
    <frontend>
        <layout>
            <updates>
                <criteotags module="WIC_Criteotags">
                    <file>criteotags.xml</file>
                </criteotags>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <criteotags>
                <use>admin</use>
                <args>
                    <module>WIC_Criteotags</module>
                    <frontName>criteotags</frontName>
                </args>
            </criteotags>
            <adminhtml>
                <args>
                    <modules>
                        <criteotags after="Mage_Adminhtml">WIC_Criteotags_Adminhtml</criteotags>
                    </modules>
                </args>
            </adminhtml>            
        </routers>
    </admin>       
    <adminhtml>
        <translate>
            <modules>
                <criteotags>
                    <files>
                        <default>WIC_Criteotags.csv</default>
                    </files>
                </criteotags>
            </modules>
        </translate>	
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>			
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <criteotags>
                                            <title>WIC CriteoTags Modules Section</title>
                                        </criteotags>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <crontab>
        <jobs>
            <export_criteo>
                <schedule>
                    <cron_expr>0 1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>criteotags/observer::cron</model>
                </run>
            </export_criteo>
        </jobs>
    </crontab>
    <default>
        <criteotags>
            <general>
                <enable>0</enable>
                <account></account>
                <sitetype>d</sitetype>
                <producttype>1</producttype>
            </general>
            <export_criteo>
                <enable>0</enable>
                <description>description</description>
                <name_template>{name}</name_template>
                <visibility>0</visibility>
            </export_criteo>
        </criteotags>
    </default>
</config>
