<?xml version="1.0"?>
<config>
    <sections>
        <criteotags translate="label">
            <label>Criteo Tags and Feed</label>
            <tab>wic</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>General</label>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </enable>
                        <account translate="label">
                            <label>Account</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                        </account>
                        <sitetype translate="label, comment, tooltip">
                            <label>Site Type</label>
                            <frontend_type>select</frontend_type>
                            <tooltip>Change this parameter only if you have specific device size multi store website</tooltip>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>criteotags/source_sitetype</source_model>
                        </sitetype>
                        <producttype>
                            <label>Product type passed in sales and basket tags</label>
                            <frontend_type>select</frontend_type>
                            <tooltip>Choose product type included in sales and basket tags for Configurable, Grouped and Bundle products</tooltip>
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>criteotags/source_producttype</source_model>
                        </producttype>
                    </fields>
                </general>
                <export_criteo translate="label">
                    <label>XML Feed Configuration</label>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable translate="label, comment, tooltip">
                            <label>Enabled</label>
                            <comment><![CDATA[Generate an XML file available at this url : <strong>http://{{your-domain}}/media/criteo/{{store-code}}/export-criteo.xml</strong>]]></comment>
                            <tooltip>Cron needs to be set up for the feed to be automaticaly generated</tooltip>
                            <frontend_type>select</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </enable>
                        <description translate="label, comment">
                            <label>Additional attribute</label>
                            <comment>Please select the product attribute to be included in the feed as description</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>criteotags/source_attributes</source_model>
                            <sort_order>21</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </description>
                        <name_template translate="label, comment">
                            <label>Product Name's Template</label>
                            <comment><![CDATA[Construct your product name's template with other product attribute. eg. <strong>{name} from {manufacturer}</strong>.]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>22</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>							
                        </name_template>
                        <visibility>
                            <label>Product Visibility exported in the feed</label>
                            <frontend_type>select</frontend_type>
                            <tooltip>Choose product visibility to be included in the feed</tooltip>
                            <sort_order>23</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>criteotags/source_visibility</source_model>
                        </visibility>
                        <run translate="label, comment, tooltip">
                            <label/>
                            <tooltip>Manually Export default store products</tooltip>
                            <frontend_type>button</frontend_type>
                            <frontend_model>criteotags/system_config_run</frontend_model>
                            <comment>Please save configuration before running the export manually</comment>						
                            <sort_order>24</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </run>						
                    </fields>                     
                </export_criteo>
                <debug>
                    <label>Debug</label>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <fopen>
                             <label>Open each image to check if exists</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </fopen>
                    </fields>
                </debug>
            </groups>
        </criteotags>
    </sections>
</config>	