.cart{

	background: white;
	padding: 2em;
	@include border-radius(4px);
	border: 1px solid $faint-color !important;

	h1{
		font-size: 150%;
		line-height: 200%;
		color: $darker-color;
	}

	button{
		@include clairsoft-light-button;
	}

	.btn-proceed-checkout{
		@include clairsoft-default-button;
	}

	input{
		border: 1px solid $faint-color !important;
		padding: 5px 10px;
	}

	#shopping-cart-table{

		// width: 90%;
		margin: 0 auto;

		thead tr th{
			padding: 10px 0;
			font-weight: normal;
		}

		tfoot tr button{
			margin-top: 1em;
		}

		tbody tr td{
			padding: 12px 6px;
		}

		.btn-removeitem{
			display: block;
			// text-indent: -999em;
			// background: image-url("removecart.png") no-repeat;
			background-color: #d81010;
			color: white;
			@include border-radius(15px, 15px);
			width: 20px;
			height: 20px;
			text-decoration: none;
			font-size: 30px;
			line-height: 50%;
			margin: 0 1em;
		}

	}

	.discount{
		border: 1px solid $faint-color !important;
		padding: 1em;
		@include border-radius(4px);

		h2{
			// border-bottom: 1px solid $dark-color !important;
			margin-bottom: 5px;
			// padding-bottom: 5px;
		}

		label{
			margin-bottom: 10px;
			font-size: 12px;
			color: $dark-color;
			display: inline-block;
		}

		input{
			border: 1px solid $subtle-color !important;
			height: 35px;
			width: 100%;
			font-size: 14px;
		}

		.buttons-set{
			padding: 0;
			margin-top: 15px;
		}
	}

	//credit section
	
	.credit-payment.box.discount{
		height: 140px;
		margin-bottom: 1em;

		h4, p{
			margin-bottom: 5px;
		}

		button{
			float: right;
		}
	}

}