#signin-modal{

	a{
		color: $main-color;
	}
	#signin-login{
		@include clairsoft-default-button;
		padding: 0;
	}

	.fieldset{
		border: 0px !important;
	}

	input{
		@include border-radius(4px);
	}

}