.checkout-onepage-success{


	h2{
		font-weight: bold;
		color: $main-color;
	}

	.box{
		background: white;
		border: 1px solid #cccccc;
		margin-bottom: 15px;
		@include border-radius(4px);
		min-height: 165px;
	    padding: 1em;
	}

	h2.sub-title{
		color: $main-color;
		font-size: 40px;
		margin-bottom: 8px;
	}

	.buttons-set{
		padding: 0;
		margin-top: 1em;

		button{
		border: 1px solid shade($main-color, 5%) !important;
		color: white;
		text-decoration: none;
		padding: 12px 15px 12px 15px;
		@include border-radius(4px, 4px);
		text-shadow: 1px 1px 0px shade($main-color, 20%);
		@include background-image(linear-gradient(tint($main-color, 15%), $main-color));
		width: 100%;
		font-size: 16px;

		&:hover{
			@include background-image(linear-gradient(tint($darker-color, 15%), $darker-color));
			border: 1px solid $darker-color;
			color: $faint-color;
			text-shadow: none;
		}
	}

	}

// 	.page-title{
// 		margin-top: 1em;
// 		margin-bottom: 1em;
// 		padding-bottom: 10px;
// 		border-bottom: 1px solid $subtle-color !important;
// 	}

// 	.col2-set.order-info-box > div{
// 		border: 1px solid $subtle-color !important;
// 		padding: 1em 1.5em;
// 		margin-bottom: 10px;
// 		@include border-radius(4px);
// 		font-size: 14px;
// 		min-height: 180px;

// 		.box-title h2{
// 			color: $main-color;
// 			border-bottom: 1px solid $subtle-color !important;
// 			margin-bottom: 10px;
// 			padding-bottom: 5px;
// 		}
// 	}

}

.sales-order-view{
	.col2-set.order-info-box > div{
		border: 1px solid $subtle-color !important;
		padding: 1em 1.5em;
		margin-bottom: 10px;
		@include border-radius(4px);
		font-size: 14px;
		min-height: 180px;
		background: white;

		.box-title h2{
			// color: $main-color;
			border-bottom: 1px solid $subtle-color !important;
			margin-bottom: 10px;
			padding-bottom: 5px;
		}
	}
}