.opc-col-left, .shipping-block, .payment-block, .discount-block, .opc-col-right{
	border: 1px solid $faint-color;
	padding: 1em;
	background: white;
	@include border-radius(4px);

	input{
		@include border-radius(4px);
		height: 30px;
	}
}