.cms-page-view{
	
	.main-container.col1-layout{
		background: white;
		border: 1px solid $subtle-color;
		margin-top: 2em;
		margin-bottom: -1em;
		padding: 2em 3em;

		.cmspage-leftcol{
			width: 500px;
			float: left;
		}

		.cmspage-rightcol-image{
			float: right;
		}
	}
	
	.page-title h1{
		font-size: 32px;
		color: $darker-color;
	}

	dl{
		dt{
			color: $main-color;
			font-size: 18px;
			margin-bottom: 5px;
		}

		dd{
			margin-bottom: 1em;
			padding-bottom: 8px;
			border-bottom: 1px dashed $subtle-color;
			line-height: 150%;
		}

		dd:last-child{
			border-bottom: none;
		}
	}
}

.cms-contact-us{
	
	.fieldset{
		background: none;
		border: none !important;
	}

	li{
		list-style: none;
	}

	.input-text, .fields, .field{
		width: 400px !important;
	}

	input{
		border: 1px solid $dark-color;
	}

}