#top-wrapper{
	display: block;
	position: fixed;
	top: 0px;
	left: 0px;
	// @include background-image(linear-gradient(tint($main-color, 15%), $main-color));
	background: $main-color;
	border-bottom: 1px solid shade($main-color, 5%) !important;
	width: 100%;
	z-index: 100;
	padding: 10px 0;
	font-size: 13px;

	.empty-cart .top-link-cart, .empty-cart .top-link-checkout{
		display: none;
	}

	.top-container{
		margin: 0 auto;
		width: 960px;
		position: relative;

		.top-links-container-long{
			width: auto;
			//float: left;
			text-align: right;
			height: 100% !important;
			line-height: 100%;
			margin-top: 8px;

			a{
				margin-left: 8px;
			}

			a[title="Log In"]{ //login
				background: url(../images/loginlock.png) no-repeat 0 0;
				padding-left: 18px !important;
			}

			a[title="My Account"]{ //login
				background: url(../images/glyph_crown.png) no-repeat 0 0;
				padding-left: 18px !important;
			}

		}

		.top-links-container{
			width: auto;
			float: right;
			text-align: right;
			height: 100% !important;
			line-height: 200%;
			margin-top: 8px;

			a{
				margin-left: 8px;
			}

			a[title="Log In"]{ //login
				background: url(../images/loginlock.png) no-repeat 0 0;
				padding-left: 18px !important;
			}

			a[title="My Account"]{ //login
				background: url(../images/glyph_crown.png) no-repeat 0 0;
				padding-left: 18px !important;
			}

		}

		.form-search{
			width: 42%;
			float: left;
			margin-right: 8px;

			input#search{
				width: 99%;
				height: 28px;
				padding: 4px 70px 4px 8px;
				@include border-radius(4px, 4px);
				border: 1px solid shade($main-color, 5%) !important;
				color: $dark-color;
				font-size: 14px;
			}

			button{
				margin-left: -40px;
				margin-top: -6px;
				width: 32px;
				height: 18px;
				background: url(../images/glyph_search.png) no-repeat 50% 50%;
				border-left: 1px solid $subtle-color !important;
			}
		}

		.welcome-msg{
			float: left;
			// border: 1px dashed red !important;
			color: white;
			height: 100% !important;
			line-height: 200%;
			text-align: center;
			margin: 8px 0 0 15px;
		}

		.welcome-msg-long{
			//float: right;
			// border: 1px dashed red !important;
			color: white;
			// height: 100% !important;
			line-height: 100%;
			text-align: right;
		}
	}

	a{
		color: white;
	}
}

.header{
	padding: 0;
}

.nav-container{
	position: absolute;
	top: 27px;
	left: 335px;

	ul#nav{

		li{
			margin-left: 1em;

			&:first-child{
				margin-left: 0;
			}
		}

		a{
				padding: 7px 10px 7px 20px;
				text-decoration: none;
				font-size: 16px;
				color: #898989;
				//display: block;
				//border: 1px dotted #ccc;
				margin-left: 8px;

				&:hover{
					//border-bottom: 3px solid #1b75bb !important;
					color: $main-color;
				}
			}

		.nav-1 {

			width: 70px;

			a{
				background: url(../images/sprite_navicons.png) no-repeat 0 0;
				height: 20px;
				width: 20px;
				padding: 0;
				margin-left: 0;

				&:hover{
					background: url(../images/sprite_navicons.png) no-repeat -20px 0;
				}
			}

			span{
				margin-left: 23px;
			}
		}

		.nav-2{

			width: 95px;

			a{
				background: url(../images/sprite_navicons.png) no-repeat 0 -20px;
				height: 20px;
				width: 20px;
				padding: 0;
				margin-left: 0;

				&:hover{
					background: url(../images/sprite_navicons.png) no-repeat -20px -20px;
				}
			}

			span{
				margin-left: 23px;
			}
		}

		.nav-3{
			width: 70px;

			a{
				background: url(../images/sprite_navicons.png) no-repeat 0 -40px;
				height: 20px;
				width: 20px;
				padding: 0;
				margin-left: 0;

				&:hover{
					background: url(../images/sprite_navicons.png) no-repeat -20px -40px;
				}
			}

			span{
				margin-left: 26px;
			}
		}

		.nav-4{
			width: 120px;

			a{
				background: url(../images/sprite_navicons.png) no-repeat 0 -60px;
				height: 20px;
				width: 20px;
				padding: 0;
				margin-left: 0;

				&:hover{
					background: url(../images/sprite_navicons.png) no-repeat -20px -60px;
				}
			}

			span{
				margin-left: 26px;
			}
		}

		.nav-5{

			width: 95px;

			a{
				background: url(../images/sprite_navicons.png) no-repeat 0 -80px;
				height: 20px;
				width: 20px;
				padding: 0;
				margin-left: 0;

				&:hover{
					background: url(../images/sprite_navicons.png) no-repeat -20px -80px;
				}
			}

			span{
				margin-left: 23px;
			}
		}

		.nav-6{

			width: 95px;

			a{
				background: url(../images/sprite_navicons.png) no-repeat 0 -100px;
				height: 20px;
				width: 20px;
				padding: 0;
				margin-left: 0;

				&:hover{
					background: url(../images/sprite_navicons.png) no-repeat -20px -100px;
				}
			}

			span{
				margin-left: 23px;
			}
		}
	}
}