//@import "compass/reset";
@import "compass/css3/";
@import "compass/layout";
@import "compass/utilities/general/clearfix";
//@import "normalize.min";
@import "mixins";

@include sticky-footer(350px, "#main-wrapper","#sticky-footer-push","#footer");

//color pallete
$main-color: #1b75bb;
$secondary-color: #6b6b6b;
$subtle-color: #ccc;
$faint-color: #eee;
$dark-color: #898989;
$darker-color: #515252;
$box-shadow-color: rgba(0,0,0,0.3); //rgba for transparent shadow

$inventory_flag: #f26522;
$soldout_flag: #6c6c6c;
$info_flag: $main-color;
$new_flag: #ed1c24;

//global

strong{
	font-weight: bold;
}

//border resets for stupid blank theme...

.header, #nav, .col-main, .col-right, .col-left, .products-grid, .block, .block-related, .block .block-title, .buttons-set, .page-title, ol.opc{
	border: none !important;
}

::selection {
	background: $main-color; /* Safari */
	color: $faint-color;
}
::-moz-selection {
	background: $main-color; /* Firefox */
	color: $faint-color;
}

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

div, ul, ol, li{
	border: none;
}

input, select{
	height: 25px;
	padding-left: 5px !important;
}

html, body{
	background-image: url(../images/mainbg.jpg);
}

body{
	color: $secondary-color;
	font-family: arial;
	font-size: 16px;
	// background: image-url("mainbg.jpg");
	//overflow: inherit;
	//position: relative;

	a{
		color: $main-color;

		&:hover{
			text-decoration: none;
		}

		&:visited{
			text-decoration: underline;
		}
	}
}

.page{
	width: 960px;
	margin-top: 60px;
	position: relative;

	.main-container{
		min-height: 400px;
	}

	.col-main{
		padding: 0 0 0 1px;
	}

	.col2-left-layout .col-main, .col2-right-layout .col-main{
		width: 720px;
	}

	.main{
		margin-top: 1em;
	}

	#backtotop{
	//text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	//background: white;
	border: 1px solid $main-color !important;
	background: white url("../images/backtotopicon.png") no-repeat 7px 50%;
	padding: 10px 10px 8px 30px;
	position: fixed;
	z-index: 9999;
	//left:980px;
	bottom: 40px;
	right: 40px;
	// width: 30px;
	// height: 30px;
	// overflow: hidden;
	//float: right;
	//display: block;
	// display: none;
	@include box-shadow($box-shadow-color 0px 8px 8px);

		&:hover{
			//padding-right: 110px;
		}

		span{
			// position: absolute;
			width: 100px;
			top: 7px;
			left: 31px;
		}
	}

	.backtotopfixed{
		position: fixed;
	}

}

#email-subscribe{
	background: white;
	height: 250px;
	width: 450px;
	border: 1px solid $subtle-color !important;
	@include border-radius(4px);
	text-align: left;
	@include box-shadow($box-shadow-color 0px 8px 8px);
	// padding: 1.5em;
	// margin: 1em;
	position: fixed;
	top: 300px;
	right: 50%;
	z-index: 999;

	h2{
		font-weight: bold;
		font-size: 16px;
		border-bottom: 1px solid $faint-color;
		margin-bottom: 10px;
		width: 100%;
		padding: 1em 1em 10px 1em;
		float: left;
	}

	.close{
		padding: 3em;
	}

	p{
		padding: 1em 1em 10px 1em;
	}

	p{
		// @include clairsoft-button(4px, $main-color, $darker-color, #fff);
	}
}

.footer-container{
	border-top: 1px solid $faint-color;
	margin-top: 1em;
	padding-top: 1em;
}

//subscribe

.dialogSubscribe{
	background: white;
	position:fixed;
	border: 1px solid $subtle-color;
	@include border-bottom-left-radius(4px);
	@include border-bottom-right-radius(4px);
	@include border-top-left-radius(0px);
	@include border-top-right-radius(0px);
	padding: 0;
	margin-left: auto;
	margin-right: auto;

	a{
		color: $main-color;
	}
}

#subscribe-container{
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	background: rgba(96, 96, 96, 0.92);
	z-index: 9999;
	//display: none;

}

#subscribe-pop{
		background: white;
		width: 450px;
		height: 250px;
		margin: auto;
		// top: 50%;
		position: relative;
		border: 1px solid $subtle-color;
		padding: 1em;
	}

/*-------------------------------------------- */
/*----------- Modular SCSS imports ------------*/
/*-------------------------------------------- */

@import "forms"; //form and input styles
@import "header_nav"; //top bar, header, logo and nav styles
@import "products_grid"; // styles for products when displayed in grid
@import "product_detail"; //styles for product detail page
@import "cms_pages"; //styles for general magento cms pages
@import "cart"; //styles for cart page
@import "account"; //styles for account page
@import "checkout"; //styles for checkout page
@import "footer"; //styles for checkout page

