<?xml version="1.0"?>
<config>
    <modules>
        <Fiuze_TowerData>
            <version>0.1.0</version>
        </Fiuze_TowerData>
    </modules>
    <global>
        <models>
            <fiuze_towerdata>
                <class>Fiuze_TowerData_Model</class>
            </fiuze_towerdata>
        </models>
        <blocks>
            <fiuze_towerdata>
                <class>Fiuze_TowerData_Block</class>
            </fiuze_towerdata>
        </blocks>
        <helpers>
            <fiuze_towerdata>
                <class>Fiuze_TowerData_Helper</class>
            </fiuze_towerdata>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <fiuze_towerdata>
                    <file>fiuze/towerdata.xml</file>
                </fiuze_towerdata>
            </updates>
        </layout>
        <routers>
            <towerdata>
                <use>standard</use>
                <args>
                    <frontName>fiuze_towerdata</frontName>
                    <module>Fiuze_TowerData</module>
                </args>
            </towerdata>
        </routers>
    </frontend>
</config>